header {
    margin: 0;
    padding: 0 0 0 1em;
    display: flex;
    justify-content: space-between;
}

nav {
    margin: 0.2em;
}

nav p {
    padding: 0;
    margin: 0.5em 0;
}

nav span {
    font-weight: 600;
    font-size: 1.1em;
    color: darkblue;
}

nav a,
button {
    font-weight: 400;
    color: #eee;
    background: rgb(71, 71, 129);
    border: 1px solid white;
    padding: 0.2em 0.3em;
    min-height: 2.3em;
    cursor: pointer;
    margin: 0.2em;
}

nav a:link {
    text-decoration: none;
}

img.profileimg {
    max-width: 60px;
    max-height: 60px;
    margin: 1em;
}
